<footer>
    <div class="desktop-switch">
        <a href="/desktop">{{ languages.custom[1066] }}</a>
    </div>

    <div class="footer-container" align="center">
            XIVDB &copy; 2010-{{ "now"|date('Y') }}
            &nbsp;-&nbsp;
            ALL FINAL FANTASY XIV CONTENT IS PROPERTY OF SQUARE ENIX CO., LTD
    </div>
</footer>
