{% extends 'Email/default.twig' %}

{% block email_body %}

    <h1>Password reset request</h1>

    <p><strong>Hello {{ user.username }}!</strong></p>

    <p>
        Someone (hopefully you) has requested for your password to be reset. To complete this process, please
        follow the link below.
    </p>

    <p style="text-align:center;padding:20px;">
        <a href="{{ defines.SECURE }}/reset-password?token={{ code }}" style="font-size:18px;border:solid 1px #ccc;border-radius:3px;padding:10px 15px;">Reset Password</a>
    </p>

    <p><strong>If you did not ask for your password to be reset, please ignore this email.</strong></p>

{% endblock %}
