.DS_Store

.vagrant/
.sass-cache/

site/web/screenshots/
site/web/img/game/
site/web/img/game_local/
site/web/img/maps/
site/web/tooltips/*/*
site/app/config.php
site/app/defines.php
site/node_modules
site/vendor
site/.sass-cache/
site/twig/*/
site/mnt
pma/
crud/

server/database/*.sql

extracts/

tools/data-map-gen/gen_maps/
tools/data-map-gen/gen_tiles/
tools/explorer/

backups/languages
site/app/analytics.p12
xivsync.sql

site/web/assets/lodestone.json
site/web/assets/devtracker.json

backups/
tools/data-extract/logs/

tools/icon-downloader/icons
tools/saint-coinach-cmd-chinese/2016*

site/log.txt

server/database/Backup*

.idea

server/setup\.sql

vm/xivdb\.sql
