<!DOCTYPE html>
<html>
<head>
    <title>Under Maintenance - XIVDB.com</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500italic,500,700italic" rel="stylesheet" type="text/css">
    <link href="/assets/frontend.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="maintenance-page">

        <img src="/img/logo/logo.png" height="32">
        <br><Br>
        <h3 class="highlight">Under Maintenance</h3>
        <br>
        {{ message }}

    </div>

</body>
</html>
