{% if user.star %}
<div class="panel p50">
    <h5 class="yellow"><i class="fa fa-star"></i> You are a Star Member!</h5>

    <p>The Star status allows you to get some extra perks for your support in the site!
        If you donated, thank you very much. Donations go straight back into the site, if you're
        interested more in that, please contact me: <a href="mailto:kupo@xivdb.com">kupo@xivdb.com</a></p>

    <p>You can also be gifted Star status by regularally coming to the site and contributing, either through
        posting and responding to comments, or uploading screenshots. Your contributions get recognized
        and you may become a star member.</p>

    <hr class="mt30 mb30">

    <h5 class="pink">Perks</h5>
    <br>

    <ul>
        <li>No Ads</li>
        <li>Awsome star next to your name</li>
    </ul>

    <hr class="mt30 mb30">

    <p>Thank you, for being awesome!</p>
    <p>-PV</p>

</div>
{% else %}
    <div class="panel">Under Development! Come back later :)</div>
{% endif %}