{% extends 'Default/index.twig' %}
{% set pagetitle %}{{ languages.custom[215] }}{% endset %}

{% block body %}
<div class="content-block">

	<div class="support-container">
		<h1>{{ languages.custom[215] }}</h1>

		<br><br>

		<p style="text-align: center; font-size:18px;">
			Message: <strong>Vekien#3458</strong> on discord for information/help about anything.
		</p>
	</div>

</div>
{% endblock %}
