<!DOCTYPE html>
<html>
<head>
    <title>XIVDB Tooltips</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500italic,500,700italic" rel="stylesheet" type="text/css">
    <link href="/assets/frontend.min.css" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    var xivdb_tooltips =
    {
        // Where to get tooltips from.
        source: 'https://secure.xivdb.local',
        seturlname: false,
    }
    </script>
    <script src="/tooltips.js"></script>
    <style>
    html {
        margin: 0;
    }
    body {
        padding: 50px;
    }
    h1 {
        font-size: 30px;
        margin: 0 0 10px 0;
    }
    h2 {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    </style>
</head>
<body>

    <h1>Internal Test</h1>

    <table width="100%">
        <tr>
            <td width="25%">
                <h2>Duplicates</h2>
                <a href="/item/6257/Curtana+Zenith">https://xivdb.com/item/6257/Curtana+Zenith</a><br>
                <a href="/item/6257/Curtana+Zenith">https://xivdb.com/item/6257/Curtana+Zenith</a><br>
                <a href="/item/6257/Curtana+Zenith">https://xivdb.com/item/6257/Curtana+Zenith</a><br>
                <a href="/item/6257/Curtana+Zenith">https://xivdb.com/item/6257/Curtana+Zenith</a><br>

                <h2>Items</h2>
                <a href="https://xivdb.com/item/16648/Heavy-Metal-Cuirass-of-Maiming">https://xivdb.com/item/16648/Heavy-Metal-Cuirass-of-Maiming</a><br>
                <a href="/item/6257/Curtana+Zenith">https://xivdb.com/item/6257/Curtana+Zenith</a><br>
                <a href="/item/13218/Plague+Doctor's+Ring">item/13218/Plague+Doctor's+Ring</a><br>
                <a href="/item/13238/Knuckles+of+the+Heavens">item/13238/Knuckles+of+the+Heavens</a><br>
                <a href="/item/12209/Holy+Shield+Animus+Replica">item/12209/Holy+Shield+Animus+Replica</a><br>
                <a href="/item/3907/Aetherial+Cobalt+Sollerets">item/3907/Aetherial+Cobalt+Sollerets</a><br>
                <br>
                <a href="https://de.xivdb.com/item/13770/Falconer's+Boots">https://de.xivdb.com/item/13770/Falconer's+Boots</a> (German link)<br>
                <hr>
                <h2>Gathering</h2>
                <a href="/gathering/300000387/Dark+Matter+Cluster">gathering/300000387/Dark+Matter+Cluster</a><br>
                <a href="/gathering/300000373/Highland+Oregano">gathering/300000373/Highland+Oregano</a><br>
                <hr>
                <h2>Emotes</h2>
                <a href="/emote/115/Fist+Bump">emote/115/Fist+Bump</a><br>
                <a href="/emote/88/Sleep">emote/88/Sleep</a><br>
                <hr>
                <h2>Titles</h2>
                <a href="/title/272/Sky+Pirate-Sky+Pirate">title/272/Sky+Pirate-Sky+Pirate</a><br>
                <a href="/title/255/Master+Armorer-Master+Armorer">title/255/Master+Armorer-Master+Armorer</a><br>
            </td>
            <td width="25%">
                <h2>Quests</h2>
                <a href="/quest/67755/The+Fault+In+Our+Cards">quest/67755/The+Fault+In+Our+Cards</a><br>
                <a href="/quest/67373/Something+In+The+Water">quest/67373/Something+In+The+Water</a><br>
                <hr>
                <h2>Actions</h2>
                <a href="/action/153/Thunder+III">action/153/Thunder+III</a><br>
                <a href="/action/3563/Armor+Crush">action/3563/Armor+Crush</a><br>
                <hr>
                <h2>FATE</h2>
                <a href="/fate/913/The+Sarong+Song">fate/913/The+Sarong+Song</a><br>
                <a href="/fate/908/Sphenopalatine+Ganglioneuralgia">fate/908/Sphenopalatine+Ganglioneuralgia</a><br>
                <hr>
                <h2>NPCs</h2>
                <a href="/npc/1016522/Royal+Handmaiden">npc/1016522/Royal+Handmaiden</a><br>
                <a href="/npc/1015163/Leveva">npc/1015163/Leveva</a><br>
                <hr>
                <h2>Minion</h2>
                <a href="/minion/154/Gold+Rush+Minecart">minion/154/Gold+Rush+Minecart</a><br>
                <a href="/minion/136/Atrophied+Atomos">minion/136/Atrophied+Atomos</a><br>
            </td>
            <td width="25%">
                <h2>Achievements</h2>
                <a href="/achievement/1426/Head+In+The+Clouds+II">achievement/1426/Head+In+The+Clouds+II</a><br>
                <a href="/achievement/1400/The+King+And+Die">achievement/1400/The+King+And+Die</a><br>
                <hr>
                <h2>Recipes</h2>
                <a href="/recipe/31338/Titanium+Alloy+Ingot">recipe/31338/Titanium+Alloy+Ingot</a><br>
                <a href="/recipe/31315/Sky+Pirate's+Trousers+of+Striking">recipe/31315/Sky+Pirate's+Trousers+of+Striking</a><br>
                <hr>
                <h2>Instance</h2>
                <a href="/instance/40002/The+Wolves'+Den">instance/40002/The+Wolves'+Den</a><br>
                <a href="/instance/34/The+Vault">instance/34/The+Vault</a><br>
                <hr>
                <h2>Enemy</h2>
                <a href="/enemy/4673/Dread+Dragon">enemy/4673/Dread+Dragon</a><br>
                <a href="/enemy/4659/Bloated+Bulb">enemy/4659/Bloated+Bulb</a><br>
                <hr>
                <h2>Mounts</h2>
                <a href="/mount/48/Logistics+System">mount/48/Logistics+System</a><br>
                <a href="/mount/37/Serpent+Warsteed">mount/37/Serpent+Warsteed</a><br>
            </td>
            <td width="25%">
                <h2>Leves</h2>
                <a href="/leve/1228/Pipira+Pirouette">leve/1228/Pipira+Pirouette</a><br>
                <a href="/leve/1197/What+Goes+Up">leve/1197/What+Goes+Up</a><br>
                <hr>
                <h2>Placenames</h2>
                <a href="/placename/2335/Seat+Of+The+Lord+Commander">placename/2335/Seat+Of+The+Lord+Commander</a><br>
                <a href="/placename/2316/The+Holy+Stables">placename/2316/The+Holy+Stables</a><br>
                <hr>
                <h2>Shops</h2>
                <a href="/shop/262581/Purchase+Items+(Sworn-Bloodsworn)">shop/262581/Purchase+Items+(Sworn-Bloodsworn)</a><br>
                <a href="/shop/262559/Purchase+Items">shop/262559/Purchase+Items</a><br>
                <hr>
                <h2>Status</h2>
                <a href="/status/988/Paralysis">status/988/Paralysis</a><br>
                <a href="/status/965/DEF+Down">status/965/DEF+Down</a><br>
                <hr>
                <h2>Weather</h2>
                <a href="/weather/53/Royal+Levin">weather/53/Royal+Levin</a><br>
                <a href="/weather/30/Fair+Skies">weather/30/Fair+Skies</a><br>
            </td>
        </tr>
    </table>

    <br><br><br>

    <h1>External Test</h1>

    <table width="100%">
        <tr>
            <td width="25%">
                <h2>Items</h2>
                <a href="https://xivdb.com/item/6257/Curtana+Zenith">https://xivdb.com/item/6257/Curtana+Zenith</a><br>
                <a href="https://xivdb.com/item/13218/Plague+Doctor's+Ring">item/13218/Plague+Doctor's+Ring</a><br>
                <a href="https://xivdb.com/item/13238/Knuckles+of+the+Heavens">item/13238/Knuckles+of+the+Heavens</a><br>
                <a href="https://xivdb.com/item/12209/Holy+Shield+Animus+Replica">item/12209/Holy+Shield+Animus+Replica</a><br>
                <a href="https://xivdb.com/item/3907/Aetherial+Cobalt+Sollerets">item/3907/Aetherial+Cobalt+Sollerets</a><br>
                <br>
                <a href="https://de.xivdb.com/item/13770/Falconer's+Boots">https://de.xivdb.com/item/13770/Falconer's+Boots</a> (German link)<br>
                <hr>
                <h2>Gathering</h2>
                <a href="https://xivdb.com/gathering/300000387/Dark+Matter+Cluster">gathering/300000387/Dark+Matter+Cluster</a><br>
                <a href="https://xivdb.com/gathering/300000373/Highland+Oregano">gathering/300000373/Highland+Oregano</a><br>
                <hr>
                <h2>Emotes</h2>
                <a href="https://xivdb.com/emote/115/Fist+Bump">emote/115/Fist+Bump</a><br>
                <a href="https://xivdb.com/emote/88/Sleep">emote/88/Sleep</a><br>
                <hr>
                <h2>Titles</h2>
                <a href="https://xivdb.com/title/272/Sky+Pirate-Sky+Pirate">title/272/Sky+Pirate-Sky+Pirate</a><br>
                <a href="https://xivdb.com/title/255/Master+Armorer-Master+Armorer">title/255/Master+Armorer-Master+Armorer</a><br>
            </td>
            <td width="25%">
                <h2>Quests</h2>
                <a href="https://xivdb.com/quest/67755/The+Fault+In+Our+Cards">quest/67755/The+Fault+In+Our+Cards</a><br>
                <a href="https://xivdb.com/quest/67373/Something+In+The+Water">quest/67373/Something+In+The+Water</a><br>
                <hr>
                <h2>Actions</h2>
                <a href="https://xivdb.com/action/153/Thunder+III">action/153/Thunder+III</a><br>
                <a href="https://xivdb.com/action/3563/Armor+Crush">action/3563/Armor+Crush</a><br>
                <hr>
                <h2>FATE</h2>
                <a href="https://xivdb.com/fate/913/The+Sarong+Song">fate/913/The+Sarong+Song</a><br>
                <a href="https://xivdb.com/fate/908/Sphenopalatine+Ganglioneuralgia">fate/908/Sphenopalatine+Ganglioneuralgia</a><br>
                <hr>
                <h2>NPCs</h2>
                <a href="https://xivdb.com/npc/1016522/Royal+Handmaiden">npc/1016522/Royal+Handmaiden</a><br>
                <a href="https://xivdb.com/npc/1015163/Leveva">npc/1015163/Leveva</a><br>
                <hr>
                <h2>Minion</h2>
                <a href="https://xivdb.com/minion/154/Gold+Rush+Minecart">minion/154/Gold+Rush+Minecart</a><br>
                <a href="https://xivdb.com/minion/136/Atrophied+Atomos">minion/136/Atrophied+Atomos</a><br>
            </td>
            <td width="25%">
                <h2>Achievements</h2>
                <a href="https://xivdb.com/achievement/1426/Head+In+The+Clouds+II">achievement/1426/Head+In+The+Clouds+II</a><br>
                <a href="https://xivdb.com/achievement/1400/The+King+And+Die">achievement/1400/The+King+And+Die</a><br>
                <hr>
                <h2>Recipes</h2>
                <a href="https://xivdb.com/recipe/31338/Titanium+Alloy+Ingot">recipe/31338/Titanium+Alloy+Ingot</a><br>
                <a href="https://xivdb.com/recipe/31315/Sky+Pirate's+Trousers+of+Striking">recipe/31315/Sky+Pirate's+Trousers+of+Striking</a><br>
                <hr>
                <h2>Instance</h2>
                <a href="https://xivdb.com/instance/40002/The+Wolves'+Den">instance/40002/The+Wolves'+Den</a><br>
                <a href="https://xivdb.com/instance/34/The+Vault">instance/34/The+Vault</a><br>
                <hr>
                <h2>Enemy</h2>
                <a href="https://xivdb.com/enemy/4673/Dread+Dragon">enemy/4673/Dread+Dragon</a><br>
                <a href="https://xivdb.com/enemy/4659/Bloated+Bulb">enemy/4659/Bloated+Bulb</a><br>
                <hr>
                <h2>Mounts</h2>
                <a href="https://xivdb.com/mount/48/Logistics+System">mount/48/Logistics+System</a><br>
                <a href="https://xivdb.com/mount/37/Serpent+Warsteed">mount/37/Serpent+Warsteed</a><br>
            </td>
            <td width="25%">
                <h2>Leves</h2>
                <a href="https://xivdb.com/leve/1228/Pipira+Pirouette">leve/1228/Pipira+Pirouette</a><br>
                <a href="https://xivdb.com/leve/1197/What+Goes+Up">leve/1197/What+Goes+Up</a><br>
                <hr>
                <h2>Placenames</h2>
                <a href="https://xivdb.com/placename/2335/Seat+Of+The+Lord+Commander">placename/2335/Seat+Of+The+Lord+Commander</a><br>
                <a href="https://xivdb.com/placename/2316/The+Holy+Stables">placename/2316/The+Holy+Stables</a><br>
                <hr>
                <h2>Shops</h2>
                <a href="https://xivdb.com/shop/262581/Purchase+Items+(Sworn-Bloodsworn)">shop/262581/Purchase+Items+(Sworn-Bloodsworn)</a><br>
                <a href="https://xivdb.com/shop/262559/Purchase+Items">shop/262559/Purchase+Items</a><br>
                <hr>
                <h2>Status</h2>
                <a href="https://xivdb.com/status/988/Paralysis">status/988/Paralysis</a><br>
                <a href="https://xivdb.com/status/965/DEF+Down">status/965/DEF+Down</a><br>
                <hr>
                <h2>Weather</h2>
                <a href="https://xivdb.com/weather/53/Royal+Levin">weather/53/Royal+Levin</a><br>
                <a href="https://xivdb.com/weather/30/Fair+Skies">weather/30/Fair+Skies</a><br>
            </td>
        </tr>
    </table>

</body>
</html>
