<div class="dropdown-container dropdown-container-tiny">
    {{ mm.tinylink(languages.custom[788], '/character/ranking') }}
    <hr>
    {{ mm.tinylink(languages.custom[253], '/community/comments') }}
    {{ mm.tinylink(languages.custom[620], '/community/screenshots') }}
</div>


{# Ditched for now as the SQL query is time consuming #}
{# {{ mm.tinylink(languages.custom[252], '#', true) }} #}