<div class="subdropdown-container">
    <div id="sub-other" class="dropdown-slot active">
        {{ mm.column([
            mm.list(menu.database.other.misc),
        ]) }}

        {{ mm.column([
            mm.list(menu.database.other.pages),
        ]) }}
    </div>
</div>
