<div class="subdropdown-container">
    <div id="sub-hnl" class="dropdown-slot active">
        {{ mm.column([
            mm.list(menu.database.hnl.crafting),
        ]) }}

        {{ mm.column([
            mm.list(menu.database.hnl.gathering),
        ]) }}
    </div>
</div>
