<div class="subdropdown-container">
    <div id="sub-general" class="dropdown-slot active">
        {{ mm.column([
            mm.list(menu.database.items.materials),
        ]) }}

        {{ mm.column([
            mm.list(menu.database.items.misc),
        ]) }}
    </div>
</div>
