<div class="subdropdown-container">
    <div id="sub-tools" class="dropdown-slot active">
        {{ mm.column([
            mm.list(menu.database.equipment.tools.menu.crafting),
        ]) }}

        {{ mm.column([
            mm.list(menu.database.equipment.tools.menu.gathering),
        ]) }}
    </div>
</div>
