<div class="subdropdown-container">
    <div id="sub-qnb" class="dropdown-slot active">
        {{ mm.column([
            mm.list(menu.database.activities.adventure),
        ]) }}

        {{ mm.column([
            mm.list(menu.database.activities.battle),
        ]) }}
    </div>
</div>
