<div class="dropdown-container dropdown-container-small dropdown-mr30 dropdown-patch">
    {{ mm.column([
        mm.list({
            'title': '4.0 - Stormblood',
            'menu': menu.patches[4]
        }),
    ]) }}

    {{ mm.column([
        mm.list({
            'title': '3.0 - Heavensward',
            'menu': menu.patches[3]
        }),
    ]) }}

    {{ mm.column([
        mm.list({
            'title': '2.0 - A Realm Reborn',
            'menu': menu.patches[2]
        }),
    ]) }}
</div>