{% extends 'Default/index.twig' %}
{% set pagetitle %}Profiles{% endset %}

{% block body %}
<div class="content-block">
	<p class="tac fs18">Work in progress! Check back later :)</p>
</div>
{% endblock %}
