{# Game Status #}
<div class="home-se">
    <h3><img src="/img/ui/ls_topic.png" height="24">{{ languages.custom[1181] }}</h3>

    <small style="padding:0 20px;display:block;opacity:0.5;">
        {{ languages.custom[1186] }} {{ characters.totalCharacter|number_format }}
    </small>
</div>