<nav class="navbar navbar-dark bg-primary">
	<div class="nav navbar-nav">
		<a href="/gamedata/patches" class="nav-item nav-link active"><i class="fa fa-book"></i> Patches</a>
		<a href="/gamedata/import" class="nav-item nav-link active"><i class="fa fa-download"></i> Data Import</a>
		<a href="/libra/import" class="nav-item nav-link active"><i class="fa fa-download"></i> Libra Import</a>
		<a href="/misc/pythonstrings" class="nav-item nav-link active"><i class="fa fa-code"></i> Python Strings</a>
		<a href="/misc/sql/create/table" class="nav-item nav-link active"><i class="fa fa-database"></i> Create Table</a>
		<a href="/gamedata/chinese" class="nav-item nav-link active"><i class="fa fa-language" aria-hidden="true"></i> Chinese Manager</a>
	</div>
</nav>
