{#<div class="system-info">
	<strong>[Memory]</strong>
	Peak: {{ system.memory_get_peak_usage }} |
	Usage: {{ system.memory_get_usage }} |
	Limit: {{ system.memory_limit }}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
#}
