<div class="filter-panel filter-panel-enemies" data-filter-type="enemies">
{% spaceless %}

    {{ SearchFilter.empty('Places') }}

    {# filter footer #}
    {{ SearchFilter.footer(filters.order.enemies) }}

{% endspaceless %}
</div>