<div class="filter-panel filter-panel-titles" data-filter-type="titles">
{% spaceless %}

    {{ SearchFilter.empty('Titles') }}

    {# filter footer #}
    {{ SearchFilter.footer(filters.order.titles) }}

{% endspaceless %}
</div>
