<!DOCTYPE html>
<html>
<head>
    <title>404 - XIVDB.com</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500italic,500,700italic" rel="stylesheet" type="text/css">

    {# my styles #}
    <link href="/assets/frontend.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="pagerror">
        <div class="title">404</div>
        <h1>are you lost!?</h1>
        <h2><a href="/">go back</a></h2>
    </div>

</body>
</html>