{% extends 'Default/index.twig' %}
{% set type = 'broke' %}

{% block body %}

    <div class="pageexception">

        <img src="/img/ui/titan.png">

        <h1>Page broken!</h1>

        <div class="pagebroke">
            <p>We're very sorry, this page failed to load. We're looking into it!</p>

            <p>If you'd like to also help, click on the <em class="green">Feedback/Bugs</em>
                button under the search bar and submit a report!</p>
        </div>

    </div>


{% endblock %}
