{% extends 'Default/index.twig' %}
{% set pagetitle %}Not Found{% endset %}

{% block body %}
<div class="content-block">

	<div class="character-not-found">
		<img src="/img/ui/ls_error.png">
        <br><br>
		<h1>Private Property!</h1>
		<p>This character has been made private.</p>
	</div>

</div>
{% endblock %}
