{% extends 'Default/index.twig' %}
{% set pagetitle %}Not Found{% endset %}

{% block body %}
	<div class="content-block">

		<div class="character-not-found">
			<img src="/img/logo/moogle.png">
            <br><br>
			<h1>Discontinued</h1>

            <br><br>

			<p>
				I regret to inform that character profiles have been discontinued. <br>
                The cost implications of running the tracking services outweighed the income <br>
                the site generated. News detailing this feature as well as XIVDB as a whole will <br>
                be announced towards the end of the year.
			</p>

            <br><br>

			<p>
				Please consider checking out these awesome fan-made projects:
			</p>

		    <p>
                ApkalluFalls: <a href="https://apkallufalls.com/">https://apkallufalls.com/</a><br>
                Ser Aymeric: <a href="http://seraymeric.com/">http://seraymeric.com/</a>
            </p>

		</div>

	</div>
{% endblock %}
